@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
  font-family: 'RocknRoll One', sans-serif;
  box-sizing: border-box;
}

.header {
  background:linear-gradient(#CCFFFF, #fff); 
}

a {
  text-decoration:none;
}

video {
  width: 100%;
}

.top-message {
  height: 60vh;
  background-image: url('../../assets/images/background-photo.jpeg');
  color: #fff;
}

.post-btn{
  position:fixed;
  right:50px;
  bottom:50px;
}